<header class="fp-header">
  <div class="fp-header__row fp-container">
    <a class="fp-header__logo" routerLink="/">
      <span class="fp-header__logo-mark">🌾</span>
      <span class="fp-header__logo-text fp-display">{{ 'BRAND_NAME' | translate }}</span>
    </a>

    <div class="fp-header__search">
      <input
        type="text"
        [(ngModel)]="searchQuery"
        (keyup.enter)="onSearch()"
        [placeholder]="'SEARCH_PLACEHOLDER' | translate"
        aria-label="Search products" />
      <button type="button" (click)="onSearch()" aria-label="Search">
        <mat-icon>search</mat-icon>
      </button>
    </div>

    <nav class="fp-header__actions">
              <app-notification-bell></app-notification-bell>

      <button mat-icon-button [matMenuTriggerFor]="langMenu" aria-label="Change language">
        <mat-icon>translate</mat-icon>
      </button>
      <mat-menu #langMenu="matMenu">
        <button mat-menu-item *ngFor="let lang of languages" (click)="changeLanguage(lang)">
          {{ lang.toUpperCase() }}
        </button>
      </mat-menu>

      <a routerLink="/cart" class="fp-header__cart" aria-label="Cart">
        <mat-icon [matBadge]="cart.itemCount() || null" matBadgeColor="accent">shopping_cart</mat-icon>
        <!-- <span>{{ 'CART' | translate }}</span> -->
      </a>
      <ng-container *ngIf="auth.isLoggedIn(); else guestActions">
        <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="Profile menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #profileMenu="matMenu">
          <a mat-menu-item routerLink="/profile">{{ 'PROFILE' | translate }}</a>
          <a mat-menu-item routerLink="/my-orders">{{ 'MY_ORDERS' | translate }}</a>
          <button mat-menu-item (click)="logout()">{{ 'LOGOUT' | translate }}</button>
        </mat-menu>
      </ng-container>
      <ng-template #guestActions>
        <a routerLink="/login" class="fp-header__login">{{ 'LOGIN' | translate }}</a>
      </ng-template>
    </nav>
  </div>

  <div class="fp-header__nav fp-container">
    <a routerLink="/">{{ 'NAV_HOME' | translate }}</a>

    <span class="fp-header__nav-dropdown" [matMenuTriggerFor]="categoryMenu">
      {{ 'NAV_SHOP' | translate }}
      <mat-icon class="fp-header__nav-caret">expand_more</mat-icon>
    </span>
    <mat-menu #categoryMenu="matMenu" class="fp-header__category-menu">
      <a mat-menu-item routerLink="/products">{{ 'ALL_CATEGORIES' | translate }}</a>
      <a mat-menu-item routerLink="/products" *ngFor="let category of categories()"
         [queryParams]="{ category: category.categoryName, categoryCd: category.categoryCd }">
        {{ category.categoryName }}
      </a>
    </mat-menu>

    <a routerLink="/brands">{{ 'NAV_SHOP_BY_BRAND' | translate }}</a>
    <a routerLink="/about">{{ 'NAV_ABOUT' | translate }}</a>
    <a routerLink="/policy">{{ 'NAV_POLICY' | translate }}</a>
    <a routerLink="/contact">{{ 'NAV_CONTACT' | translate }}</a>
  </div>
</header>
<span
  class="fp-header__nav-dropdown"
  [matMenuTriggerFor]="categoryMenu"
  #categoryTrigger="matMenuTrigger"
  (mouseenter)="categoryTrigger.openMenu()"
  (mouseleave)="categoryTrigger.closeMenu()">
  {{ 'NAV_SHOP' | translate }}
  <mat-icon class="fp-header__nav-caret">expand_more</mat-icon>
</span>