<div class="admin-tile-grid">
  <a routerLink="/admin/master/product" class="admin-tile fp-card">
    <span class="admin-tile__title">{{ 'PRODUCT_MASTER' | translate }}</span>
  </a>
  <a routerLink="/admin/master/brand" class="admin-tile fp-card">
    <span class="admin-tile__title">{{ 'BRAND_MASTER' | translate }}</span>
  </a>
  <a routerLink="/admin/master/unit" class="admin-tile fp-card">
    <span class="admin-tile__title">{{ 'UNIT_MASTER' | translate }}</span>
  </a>
  <a routerLink="/admin/master/category" class="admin-tile fp-card">
    <span class="admin-tile__title">{{ 'CATEGORY_MASTER' | translate }}</span>
  </a>
  <a routerLink="/admin/master/user" class="admin-tile fp-card">
    <span class="admin-tile__title">{{ 'USER_MASTER' | translate }}</span>
  </a>
</div>