<section class="fp-container fp-change-password">
  <div class="fp-card fp-change-password__card">
    <h2 class="fp-display">{{ 'CHANGE_PASSWORD_TITLE' | translate }}</h2>

    <ng-container *ngIf="!success(); else successTpl">
      <form [formGroup]="form" (ngSubmit)="submit()" class="fp-change-password__form">
        <mat-form-field appearance="outline">
          <mat-label>{{ 'CURRENT_PASSWORD' | translate }}</mat-label>
          <input matInput type="password" formControlName="oldPassword" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'NEW_PASSWORD' | translate }}</mat-label>
          <input matInput type="password" formControlName="newPassword" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>{{ 'CONFIRM_NEW_PASSWORD' | translate }}</mat-label>
          <input matInput type="password" formControlName="confirmPassword" />
        </mat-form-field>

        <p class="fp-change-password__error" *ngIf="form.hasError('passwordsMismatch') && form.controls.confirmPassword.touched">
          {{ 'PASSWORDS_DO_NOT_MATCH' | translate }}
        </p>

        <p class="fp-change-password__error" *ngIf="errorMessage()">{{ errorMessage() | translate }}</p>

        <button mat-flat-button class="fp-btn-primary" type="submit" [disabled]="submitting()">
          {{ 'UPDATE_PASSWORD' | translate }}
        </button>
      </form>
    </ng-container>

    <ng-template #successTpl>
      <p class="fp-change-password__success">{{ 'PASSWORD_CHANGED_SUCCESS' | translate }}</p>
      <button mat-flat-button class="fp-btn-primary" (click)="backToProfile()">{{ 'BACK_TO_PROFILE' | translate }}</button>
    </ng-template>
  </div>
</section>